<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <div id="condList" class="fl_search clearfix">
                <div>
                    <input type="file" id="file1" /><br />
                    <input type="text" id="types" /><br />
                    <input type="button" id="upload" value="上传" />
                </div>
            </div> <!-- 查询条件-->

            <div id="resultList" class="clearfix tab-pane active"></div> <!--查询结果-->

            <div id="pagenation" class="fl-page-wrap clearfix"></div> <!--分页-->
        </div>
    </div>
</div>

<script src="/js/data/scrollimg.js"></script>